### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory


### OpenCV ###
#OpenCV for Mac and Linux
#build and release folders
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/Musible